---
title: Vinua
---

<nav class="navbar navbar-inverse fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/"><h3>Vinua</h3></a>
  </div>
</nav>

<div class="container d-flex justify-content-center align-items-center" style="height:100vh">
  <div>
    <h1 class="mb-0">Web consulting for startups.</h1>
  <div>
</div>
